body {
  color: #333;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;


}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #d0d;
  margin: 0 auto;
}

#container h1{
  font-size: 20px;
  text-align: center;
}

#titulo h1{
  font-size: 30px;
  background: #692269;
  color: blue;
  box-shadow: 28px 32px 70px 7px rgba(105,34,105,0.76);
}